################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BlazorApp2/bin/Debug/net8.0
/BlazorApp2/obj
